@inherits LayoutComponentBase

<div class="d-flex vh-100">

    <div class="bg-dark text-white p-2" style="width: 220px;">
        <NavMenu />
    </div>

    <div class="flex-grow-1 bg-light p-4">

        <div class="mb-4">
            <h2 class="fw-bold">🍔 Good Hamburger</h2>
            <small class="text-muted">Sistema de pedidos</small>
        </div>

        @Body

    </div>

</div>