<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <a class="navbar-brand fw-bold" href="">🍔 GoodBurger</a>
</div>

<div class="p-3">

    <NavLink class="btn btn-warning w-100 fw-bold shadow-sm"
             href="pedidos">
         Ver Pedidos
    </NavLink>

</div>